<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bdloc{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div id="container">
        <header>
            <div class="titre">BdLoc</div>
            <nav>
                <ul class="nav nav-pills" id="menu">
                    <li><a role="presentation" class="active" href="{{ path('liste_bd') }}" title="BDLOC | BD">Les BDs</a></li>
                    <li><a role="presentation" class="" href="{{ path('panier') }}" title="BDLOC | Panier">Mon panier</a></li>
                    <li><a role="presentation" class="" href="#" title="BDLOC | Compte">Mon compte</a></li>
                </ul>
            </nav>

            <div style="float: left;">
                {% if app.user and is_granted("ROLE_USER") %}
                    <p id="pseudo_deco">Bonjour {{ app.user.nom }}</p></br>
                    <a id="deco" href="{{ path('logout') }}" title="BDLOC | déconnexion">Déconnexion</a>
                {% endif %}
            </div>

        </header>
    {% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</div>
</body>
</html>
