{% extends 'base.html.twig' %}

{% block body %}
 <div id="div_btn_suivant">
        <a href="{{ path('userCommandes') }}" title="Mes commandes">
            <button class="btn btn-primary" >Mes commandes</button>
        </a>
    </div>
        <h2 id="titre_compte">Voici vos informations personnelles : </h2>

        <div id="info_perso">
            <p><span class="label_info">Nom :</span> {{ app.user.nom }}</p>
            <p><span class="label_info">Prenom :</span> {{ app.user.prenom }}</p>
            <p><span class="label_info">Email :</span> {{ app.user.email }}</p>
            <p><span class="label_info">Téléphone :</span> {{ app.user.telephone }}</p>
            <p><span class="label_info">Date d'inscription :</span> {{ app.user.dateInscription|date('d-m-Y') }}</p>
            <p><span class="label_info">Adresses :</span>
                {% for adresse in app.user.adresses %}
                    <br />
                    {{ adresse.compAdresse }}
                    {{ adresse.cp }}
                    {{ adresse.ville }}
                    {% endfor %}
            </p>
        </div>

{% endblock %}