
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Titre : {{ book.titre }}</h4>
</div>
<div class="modal-body">
    <article id="bloc_detail">                   

        <img alt="Couverture de la BD" src="{{app.request.basepath}}/img/{{book.couverture}}" />

        <div id="book_detail">
            <p class="detail_BD">
                Catégorie(s) : {% for cat in  book.serie.categorie %}{{ cat.nomCat }}{% endfor %}
            </p>                       
            <p class="detail_BD">Série : {{ book.numVolume }}</p>

            <p class="detail_BD">Numéro de l'ouvrage dans la série : {{ book.serie.titre }}</p>

            <p class="detail_BD">Auteur : {{ book.author.nom }}<a href="#" title="BDLOC | Détail sur l'auteur" id="author_link"></a></p>

            <p class="detail_BD">Editeur : {{ book.editeur }}</p>

            <p class="detail_BD">Référence : {{ book.reference }}</p>

            <p class="detail_BD">Nombre de Pages : {{ book.nbPage }}</p>

            <p class="detail_BD">Stock : {{ book.stock }}</p>
            
            <button class="btn btn-success bt_ajoutPanier" data-value=" {{ path("ajoutPanier", {id:book.id} )}}" >
                Ajouter au panier !
            </button>

        </div>
    </article>    

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
</div>