{% extends 'base.html.twig' %}

{% block body %}
    <aside id="block_filtre" class="">
        <form method="get">
            <fieldset>
                <legend> Filtres </legend>
                <div class="div_orange">Catégories</div>


                {% for categorie in categories %}
                    <label>
                        <input id="input_checkbox" name="categories[]" type="checkbox"
                               {% if categorie.id in checkboxCategories %}
                                   checked="checked"
                               {% endif %}
                               value="{{ categorie.id }}"> {{categorie.nomCat}}
                    </label>
                {% endfor %}

                <label for="search"></label>
                <input id="input_mots_cles" name="input_mots_cles" type="text" placeholder="Mots-clés" autofocus="" />
                <p>La recherche est réalisée dans les champs suivants : Titre et Auteurs</p>

                <button type="submit" class="btn btn-default" id="bt_filtre1">Filtrer</button>
            </fieldset>
        </form>
    </aside>
    <div>
        <div id="block_resultat">
            <form method="get">
                <div class="form-group">
                    <fieldset>
                        <legend> Resultats </legend>
                        <!--
                        <select id="select_trier" name="select_trier" class="form-control input-sm liste_tri">
                            <option id="select_option_default" name="select_option_default" selected>Trier par...</option>
                            <option id="select_option_ordreAlpha" name="select_option_ordreAlpha">Ordre alphabétique de titre</option>
                            <option id="select_option_datePublished" name="select_option_datePublished">Date de publication</option>
                        </select>
                        -->
                        <select id="afficher_resultats" name="afficher_resultats" class="form-control input-sm liste_tri">
                            <option id="cinq_resultats" name="cinq_resultats" value="cinq_resultats" >afficher 5 résultats</option>
                            <option id="dix_resultats" name="dix_resultats" value="dix_resultats" >afficher 10 résultats</option>
                            <option id="vingt_resultats" name="vingt_resultats" value="vingt_resultats" selected>afficher 20 résultats</option>
                        </select>
                        <button type="submit" class="btn btn-default" id="bt_filtre2">Filtrer</button>
                    </fieldset>
                </div>
            </form>
        </div>

        <div id="liste_bd">
            {% if paginationResults %}
                {% for book in paginationResults.data %}

                    <table class="table_bd">
                        <tr >
                            <td class="head-div-book">
                                <h3>{{ book.titre }}</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ path("details_bd", {"slug":book.slug}) }}" data-toggle="modal" data-target="#myModal">
                                    <img class="image_bd" src="{{app.request.basepath}}/img/{{book.couverture}}" alt="{{ book.titre }}">
                                </a>
                                <p class="detail_bd">
                                    Catégorie(s) : {% for cat in  book.serie.categorie %}{{ cat.nomCat }}{% endfor %}
                                </p> 
                                <p>
                                    Auteur : 
                                    <a href="{{ path("author", {"slug":book.author.slug}) }}" data-toggle="modal" data-target="#myModal">
                                        {{ book.author.nom }}
                                    </a>
                                </p>
                                <p>Éditeur : {{ book.editeur }}</p>

                                {% if (book.stock > 0) %}
                                    <p class="stock_bd" data-value="{{book.id}}">Stock : {{ book.stock }}</p>

                                        <a href="{{ path("details_bd", {"slug":book.slug}) }}" data-toggle="modal" data-target="#myModal">
                                            <button class="btn btn-primary">
                                                Plus de détails !
                                            </button>
                                        </a>
                                    

                                <button class="btn btn-success bt_ajoutPanier" data-value=" {{ path("ajoutPanier", {id:book.id} )}}" >
                                    Ajouter au panier !
                                </button>
                                {% else %}
                                    <p data-value="{{book.id}}">Stock : Indisponible</p>

                                        <a href="{{ path("details_bd", {"slug":book.slug}) }}" data-toggle="modal" data-target="#myModal">
                                            <button class="btn btn-primary">
                                                Plus de détails !
                                            </button>
                                        </a>
                                    

                                <button class="btn btn-success bt_ajoutPanier disabled" data-value=" {{ path("ajoutPanier", {id:book.id} )}}" >
                                    Ajouter au panier !
                                </button>
                                {% endif %}
                               
                            </td>
                        </tr>
                    </table>
                {% endfor %}

                <div id="div_pagination">

                    <ul class="pagination">

                        {% if paginationResults.prevPage %}

                            <li><a href="{{ path('liste_bd', {page: paginationResults.prevPage})~queryString }}">Préc</a></li>

                        {% endif %}

                        {% for i in paginationResults.numLinkMin..paginationResults.numLinkMax %}
                            <li><a href="{{ path('liste_bd', {'page' : i})~queryString }}">{{i}}</a></li>
                            {% endfor %}

                        {% if paginationResults.nextPage %}

                            <li><a href="{{ path('liste_bd', {page: paginationResults.nextPage})~queryString }}">Suiv</a></li>

                        {% endif %}

                    </ul>
                    <div>
                        {{ paginationResults.nowShowingMin }} à {{ paginationResults.nowShowingMax }} sur {{ paginationResults.total }}
                    </div>
                </div>
            </div>
        </div>



        <!-- Modal Auteur-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
   
                <div class="modal-content">


                </div>
            </div>
        </div>

                {% elseif checkboxCategories and not paginationResults %}

                <div id="message_erreur_google">
                    <p>
                        Nous n'avons pas trouvé la page que vous cherchez
                    </p>
                    <p>
                        Explications :
                    </p>
                    <ul>
                        <li>
                            La page que vous cherchez à atteindre n'existe pas.
                        </li>
                        <li>
                                Vous avez cherché une catégorie non existante.
                        </li>
                    </ul>
                    <p>
                        Suggestions :
                    </p>
                    <ul>
                        <li>
                            Utilisez la barre de navigation horizontale pour choisir la page à atteindre.
                        </li>
                        <li>
                            Utilisez le menu de choix des catégories.
                        </li>
                    </ul>
                    <p>Ou</p>
                    <p>
                        Cliquez sur le lien ci-contre pour retourner à la liste de BD :
                        <a href="{{ path('liste_bd') }}">Liste de BD</a>
                    </p>
                </div>


        {% elseif MotsCle %}

            <div id="message_erreur_google">
                <p>
                    Aucun document ne correspond aux termes de recherche spécifiés (<em>{{ MotsCle }}</em>).
                </p>
                <p>
                    Suggestions :
                </p>
                <ul>
                    <li>
                        Vérifiez l’orthographe des termes de recherche.
                    </li>
                    <li>
                        Essayez d'autres mots.
                    </li>
                    <li>
                        Utilisez des mots clés plus généraux.
                    </li>
                </ul>

                <p>
                    Cliquez sur le lien ci-contre pour retourner à la liste de BD :
                    <a href="{{ path('liste_bd') }}">Revenir à la liste de BD</a>
                </p>
            </div>

        {% endif %}
    {% endblock %}

