{% extends 'base.html.twig' %}

{% block body %}
    <aside id="block_filtre">
        <form>
            <fieldset>
                <legend> Filtres </legend>
                <p class="entete"> Catégories </p>
                <label>
                    <input type="checkbox"> polar
                </label>
                <label>
                    <input type="checkbox"> polar1
                </label>
                <label>
                    <input type="checkbox"> polar2
                </label>
                <label>
                    <input type="checkbox"> polar3
                </label>
                <label>
                    <input type="checkbox"> polar4
                </label>
                <label>
                    <input type="checkbox"> polar5
                </label>

                <p class="entete" id="dispo"> Disponibilités: </p>
                <label>
                    <input type="checkbox"> Disponible
                </label>
                <label>
                    <input type="checkbox"> Indisponible
                </label>

                <label for="search"></label>
                <input type="text" name="search" placeholder="mots-clés"></input>


                <button type="submit" class="btn btn-default" id="bt_filtre">filtrer</button>
            </fieldset>
        </form>
    </aside>

    <div id="block_all">
        <form>
            <fieldset>
                <legend> Resultats </legend>
                <select class="form-control input-sm liste_tri">
                    <option value="value1" selected>Trier par...</option> 
                    <option value="value2" >Valeur 2</option>
                    <option value="value3">Valeur 3</option>
                </select>
                <select class="form-control input-sm liste_tri">
                    <option value="value1" >afficher 5 résultats</option> 
                    <option value="value2" >afficher 10 résultats</option>
                    <option value="value3" selected>afficher 20 résultats</option>
                </select>        
            </fieldset>
        </form>

    </div>

    <div id="liste_bd" >
        {% for book in paginationResults.data %}

            <article class="search_bd">
                <img class="image_bd" src="{{app.request.basepath}}/img/{{book.couverture}}" alt="{{ book.titre }}">
                <p class="detail_bd">
                    Titre : <a href="{{ path("details_bd", {"slug":book.slug}) }}">{{ book.titre }}</a>
                </p>
                <p class="detail_bd">Auteur : {{ book.author.nom }}</p>
                <p class="detail_bd">Éditeur : {{ book.editeur }}</p>

                <p class="stock_bd">TODO : Disponible</p>

                <button class="btn btn-primary">Plus de détails !</button>
                <button class="btn btn-success">Ajouter au panier !</button>
            </article>
        {% endfor %}

        <div style="clear: both;">
            {{ paginationResults.nowShowingMin }} à {{ paginationResults.nowShowingMax }} sur {{ paginationResults.total }}

            <ul class="pagination">

                {% if paginationResults.prevPage %}

                    <li><a href="{{ path('liste_bd', {page: paginationResults.prevPage}) }}">Préc</a></li>

                {% endif %}

                {% for i in paginationResults.numLinkMin..paginationResults.numLinkMax %}
                    <li><a href="{{ path('liste_bd', {'page' : i}) }}">{{i}}</a></li>
                    {% endfor %}

                {% if paginationResults.nextPage %}

                    <li><a href="{{ path('liste_bd', {page: paginationResults.nextPage}) }}">Suiv</a></li>

                {% endif %}

            </ul>
        </div>
    </div>
{% endblock %}

