{% extends 'base.html.twig' %}



{% block body %}
    <h2 id="pan">Voici votre panier:</h2>
    
    <table>

    {% for book in books %}
        <tr class="ligne_panier" data-value ="{{book.id}}">
            <td class="article_panier">

            <a href="{{ path("details_bd", {"slug":book.slug}) }}">
                    <img class="image_article" src="{{app.request.basepath}}/img/{{book.couverture}}" alt="{{ book.titre }}">
                </a>
                <p class="titre_article">
                    Titre : <a href="{{ path("details_bd", {"slug":book.slug}) }}">{{ book.titre }}</a>
                </p>                
                <button class="glyphicon glyphicon-remove-circle bt_suppr" data-value = "{{ path("supprPanier", {id:book.id} )}}" ></button>
                <p class="sup_article">Retirer du panier</p>
            </td>
        </tr>
    {% endfor %}

    </table>

    <button id="bt_valider">Valider ce panier</button>
    <button id="bt_back">Continuer à bouquiner</button>

{% endblock %}

