{% extends 'base.html.twig' %}
{% block body %}
    
    <div id="div_etape_panier">
        <p><span class="active_etape_panier">Mon panier</span> > Choix du relais > Récapitulatif</p>
    </div>
    <h2>Voici votre panier:</h2>
    
    <table id="table_panier">
        {% for book in books %}
            <tr class="ligne_panier" data-value ="{{book.id}}">
                <td class="">
                    <a href="{{ path("details_bd", {"slug":book.slug}) }}">
                        <img class="image_article" src="{{app.request.basepath}}/img/{{book.couverture}}" alt="{{ book.titre }}">
                    </a>
                </td>
                <td class="">
                    <p class="">
                        Titre : <a href="{{ path("details_bd", {"slug":book.slug}) }}">{{ book.titre }}</a>
                    </p>                
                </td>
                <td class="">               
                    <button class="btn btn-danger glyphicon glyphicon-remove-circle bt_suppr" data-value = "{{ path("supprPanier", {id:book.id} )}}" ></button>
                </td>
            </tr>
        {% endfor %}

    </table>
    <div id="div_btn_suivant">
        <a href="{{ path('pickup') }}" title="Supprimer"><button class="btn btn-primary" id="bt_suivant">Suivant</button></a>
    </div>
{% endblock %}

