{% extends 'base.html.twig' %}

{% block body %}
     <div id="div_etape_panier">
        <p><span class="active_etape_panier">Mon panier > Choix du relais > Récapitulatif</span></p>
    </div>
    <p>Bonjour {{user.prenom}} {{user.nom}},<p>
    <p>Nous vous remercions d'avoir utiliser notre site internet. Vous trouverez les informations concernant votre commande:<p>


    <table style="margin-top:20px;">

        <caption> Récapitulatif de votre commande </caption>


            <tr>
                <th style=" text-align:center; border:1px solid black;  border-collapse:collaspe; witdh:100px;">Numéro de la commande</th>
                
                <th style=" text-align:center; border:1px solid black;  border-collapse:collaspe; witdh:100px;">Article(s) commandé(s)</th>

                <th style=" text-align:center; border:1px solid black;  border-collapse:collaspe;">Point Relai choisi</th>

                <th style=" text-align:center; border:1px solid black;  border-collapse:collaspe;">Commande effectuée le </th>

                <th style=" text-align:center; border:1px solid black;  border-collapse:collaspe;">Date de livraison estimée*</br>
                    
                </th>

                <th style=" text-align:center; border:1px solid black;  border-collapse:collaspe;">Date avant laquelle retourner</br> 
                    votre commande
                </th>
            </tr>

            <tr>
                <td style=" text-align:center; border:1px solid black;  border-collapse:collaspe;"> {{ commande.id }} </td>

                <td style=" text-align:center; border:1px solid black;  border-collapse:collaspe;">
                    {% for books in commande.books %}
                        {{ books.titre }}
                    {% endfor %}    
                </td style=" text-align:center; border:1px solid black;  border-collapse:collaspe;">

                <td style=" text-align:center; border:1px solid black;  border-collapse:collaspe;"> {{ commande.pickUpSpot.nom }} </br> 
                     {{ commande.pickUpSpot.adresse }} </br> 
                     {{ commande.pickUpSpot.cp}} </br> 
                     {{ commande.pickUpSpot.ville }}
                </td style=" text-align:center; border:1px solid black;  border-collapse:collaspe;">

                <td style=" text-align:center; border:1px solid black;  border-collapse:collaspe;"> {{ commande.dateCommande|date('d-m-Y') }} </td>

                <td style=" text-align:center; border:1px solid black;  border-collapse:collaspe;"> {{ dtLiv|date('d-m-Y') }} </dt>

                <td style=" text-align:center; border:1px solid black;  border-collapse:collaspe;"> {{ dtRam|date('d-m-Y') }} </dt>
            </tr>
    </table>

    <p style="font-size:90%;">* : estimation à plus ou moins quelques jours </br>
    ** : avant d'être passible d'amende</p>


    <p style="margin-top:20px;">Un email contenant les mêmes informations viens de vous être envoyé. Nous vous conseillons de conserver celui-ci.</p>


    <p>Nous esperons que vous apprécierez votre lecture. A bientôt avec BdLoc.</p>

    <p>BdLoc, la BD à portez de nez...</p>
{% endblock %}